################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WpfApp1/v17/.suo
/.vs/slnx.sqlite
.vs/WpfApp1/FileContentIndex/0dccb731-5035-4f42-9dd8-6413e12e10d2.vsidx
.vs/WpfApp1/FileContentIndex/5053face-0ea1-472e-864c-d7758a07f620.vsidx
.vs/WpfApp1/FileContentIndex/6f74e61c-b0bc-4655-9467-dfce87a08b44.vsidx
.vs/WpfApp1/FileContentIndex/d10114f3-8257-4b4c-a44c-5562dbd7841a.vsidx
.vs/WpfApp1/FileContentIndex/abd6bdeb-a6a3-4f31-8264-c5a32e9d8db2.vsidx
*.exe
*.pdb
*.cache
*.lref
bin/Debug/WpfApp1.exe
bin/Debug/WpfApp1.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/WpfApp1.csproj.AssemblyReference.cache
obj/Debug/WpfApp1.csproj.CoreCompileInputs.cache
obj/Debug/WpfApp1.csproj.GenerateResource.cache
obj/Debug/WpfApp1.exe
obj/Debug/WpfApp1.g.resources
obj/Debug/WpfApp1.pdb
obj/Debug/WpfApp1_1544zf02_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_1l4qzee2_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_4qcu0ie2_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_5febdbqq_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_b34gfkyw_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_bhj2gcad_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_bul3yoey_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_c2qed3eu_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_j5te2agl_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_MarkupCompile.cache
obj/Debug/WpfApp1_MarkupCompile.lref
obj/Debug/WpfApp1_st4bvt2g_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_tbwfhqsh_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_ttb0kbro_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_vsst4qni_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_ykcxgrvj_wpftmp.csproj.AssemblyReference.cache
obj/Release/MainWindow.g.cs
obj/Release/RegistroWindow.g.cs
obj/Release/StringResources.en-US.baml
obj/Release/StringResources.es-ES.baml
obj/Release/WpfApp1.csproj.AssemblyReference.cache
obj/Release/WpfApp1_1544zf02_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_1l4qzee2_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_4qcu0ie2_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_5febdbqq_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_b34gfkyw_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_bhj2gcad_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_bul3yoey_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_c2qed3eu_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_j5te2agl_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_MarkupCompile.cache
obj/Release/WpfApp1_MarkupCompile.lref
obj/Release/WpfApp1_st4bvt2g_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_tbwfhqsh_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_ttb0kbro_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_vsst4qni_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_ykcxgrvj_wpftmp.csproj.AssemblyReference.cache
bin/Debug/WpfApp1.exe
bin/Debug/WpfApp1.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/WpfApp1.csproj.AssemblyReference.cache
obj/Debug/WpfApp1.csproj.CoreCompileInputs.cache
obj/Debug/WpfApp1.csproj.GenerateResource.cache
obj/Debug/WpfApp1.exe
obj/Debug/WpfApp1.g.resources
obj/Debug/WpfApp1.pdb
obj/Debug/WpfApp1_1544zf02_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_1l4qzee2_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_4qcu0ie2_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_5febdbqq_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_b34gfkyw_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_bhj2gcad_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_bul3yoey_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_c2qed3eu_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_j5te2agl_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_MarkupCompile.cache
obj/Debug/WpfApp1_MarkupCompile.lref
obj/Debug/WpfApp1_st4bvt2g_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_tbwfhqsh_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_ttb0kbro_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_vsst4qni_wpftmp.csproj.AssemblyReference.cache
obj/Debug/WpfApp1_ykcxgrvj_wpftmp.csproj.AssemblyReference.cache
obj/Release/MainWindow.g.cs
obj/Release/RegistroWindow.g.cs
obj/Release/StringResources.en-US.baml
obj/Release/StringResources.es-ES.baml
obj/Release/WpfApp1.csproj.AssemblyReference.cache
obj/Release/WpfApp1_1544zf02_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_1l4qzee2_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_4qcu0ie2_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_5febdbqq_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_b34gfkyw_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_bhj2gcad_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_bul3yoey_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_c2qed3eu_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_j5te2agl_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_MarkupCompile.cache
obj/Release/WpfApp1_MarkupCompile.lref
obj/Release/WpfApp1_st4bvt2g_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_tbwfhqsh_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_ttb0kbro_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_vsst4qni_wpftmp.csproj.AssemblyReference.cache
obj/Release/WpfApp1_ykcxgrvj_wpftmp.csproj.AssemblyReference.cache
.idea/IPO.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
bin/Debug/WpfApp1.exe
bin/Debug/WpfApp1.pdb
