################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WpfApp1/v17/.suo
/.vs/slnx.sqlite
